{
    "parser": "babel-eslint",  
    "parserOptions": {
      "ecmaVersion": 2018,
        "ecmaFeatures": {
          "legacyDecorators": true,
          "jsx": true
        },
        "sourceType": "module"
    }
  }
  